Source: hostdb
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7),
	       libdbd-mysql-perl,
	       libconfig-inifiles-perl,
	       libsucgi2-perl
Build-Depends-Indep: perl (>= 5.6.0-12)
Maintainer: Fredrik Thulin <ft@it.su.se>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/HOSTDB/

Package: hostdb
Architecture: all
Depends: ${perl:Depends},
	 ${misc:Depends},
	 libhostdb-perl,
	 hostdb-cli,
	 hostdb-cgi
Description: Stockholm university HOSTDB.
 The host database contains DNS, subnet and DHCP type host info, and this is
 the meta package that gives you the whole lot.

Package: libhostdb-perl
Architecture: all
Depends: ${perl:Depends},
	 ${misc:Depends},
	 libdbd-mysql-perl,
	 libconfig-inifiles-perl,
	 libsucgi2-perl
Description: Perl extension to access Stockholm university HOSTDB.
 The host database contains DNS, subnet and DHCP type host info, use this perl
 module to access the data.

Package: hostdb-cli
Architecture: all
Depends: ${perl:Depends},
	 ${misc:Depends},
	 libhostdb-perl
Description: Command line utilities to access Stockholm university HOSTDB.
 The host database contains DNS, subnet and DHCP type host info, use these
 command line interface tools to access the database.

Package: hostdb-cgi
Architecture: all
Depends: ${perl:Depends},
	 ${misc:Depends},
	 libhostdb-perl
Description: CGI scripts to access Stockholm university HOSTDB.
 The host database contains DNS, subnet and DHCP type host info, this is
 the web interface that lets you and your users access that database.
